.App {
  text-align: center;
  font-family: VinSlabPro, sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: VinSlabPro;
  src: url("../fonts/VinSlabPro/VinSlabPro-Light_0.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
